<extend name="public:menu"/>
<block name="main">
    <div class="container-fluid">
        <h3 class="page-title">通知新增</h3>
        <form action="/home/admin/notice_store" method="post">
            <div class="formbox">
                <div class="formbox-title">通知title</div>
                <div class="formbox-body">
                    <input type="text" name="title"style="height:51px;width:449px">
                </div>
            </div>
            <div class="formbox">
                <div class="formbox-title">通知内容</div>
                <div class="formbox-body">
                    <textarea name="content" style="height:51px;width:449px"></textarea>
                </div>
            </div>
            <div class="formbox">
                <div class="formbox-title">通知来源</div>
                <div class="formbox-body">
                    <input type="text" name="source" style="height:51px;width:449px">
                </div>
            </div>
            <div class="info"></div>
            <input type="submit" value="确认新增" class="add-but" />
        </form>
    </div>
</block>