<extend name="public:menu"/>
<block name="main">
    <div class="container-fluid">
        <h3 class="page-title">研究热点新增</h3>
        <form action="/home/admin/study_store" method="post">
            <div class="formbox">
                <div class="formbox-title">研究热点名称</div>
                <div class="formbox-body">
                    <input type="text" style="height:51px;width:449px"  name="title" }">
                </div>
            </div>
            <div class="formbox">
                <div class="formbox-title">研究热点介绍</div>
                <div class="formbox-body">
                    <textarea name="content" style="height:251px;width:776px"></textarea>
                </div>
            </div>
            <div class="info"></div>
            <input type="submit" value="确认新增" class="add-but" />
        </form>
    </div>
</block>