<extend name="public:header" />
<block name="load-css">
    <load href="__CSS__/projects.css" />
</block>
<block name="main">
<div class="main">
    <div class="position"> 您现在正在浏览： <a href="/">首页</a> » 科研项目</div>
    <div class="">
        <div class="mleft">
          <table class="table">
            <thead>
              <tr>
                <th>项目名称</th>
                <th>项目负责人</th>
                <th>项目来源</th>
                <th>项目金额</th>
              </tr>
            </thead>
            <tbody>
              <?php 
                foreach ($projects_list as $value) {
                  echo "<tr><td><a href='/home/project?id=".$value['id']."'>".$value['name']."</a></td><td>".$value['director']."</td><td>".$value['source']."</td><td>".$value['amount']."</td></tr>";
              }
            ?>
            </tbody>
          </table>
            <div class="page-div">
                {$page}
            </div>
        </div>
      <include file="public:right" />
    </div>
  </div>  
</block>